/.idea/COMP486_Project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/Clean Dataset with lat and long - Copy.csv
/Total Rental Results - Copy.csv
/Model Results 2-28.txt
